*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    outline: none;
    font-family: 'Barlow Condensed', sans-serif;
}
/*font-family: 'Barlow', sans-serif;
font-family: 'Barlow Condensed', sans-serif;
font-family: 'Bellefair', serif;*/


main{
    background-image: url(/Images/home/background-home-desktop.jpg);
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
/************************************************
**************************************************
*************************************************************
**********************************************************************
********************************************************************************
**************  N   A      V        ////////////////////////////////////////////////////////////////////
////////////////////////////////////////*/
nav{
    padding: 50px 0 50px 50px;
    display: flex;
    justify-content: space-between;
    font-family: 'Barlow Condensed', sans-serif;
    font-size: 16px;
    height: auto;
    letter-spacing:2.7px;
    line-height: 1;
}
.h{
    display: inline-block;
    width: calc((92%-8em)/2) ; height: 1px; background-color: white; margin: 25px 10px;  opacity: 25%; 
}
/*.thething{
    width: 105vh ; left: 139px; height: 1px; background-color: white; margin: 28px 0;  opacity: 25%; position: absolute; z-index: 9;
}*/
.lists{
    backdrop-filter: blur(30px) ;
    padding: 20px 0 20px 50px;
}
ul{
    display: flex;
    padding-right: 50px;
}
ul > li{
    list-style: none;
    padding: 0 20px;

}
ul > li > a{
    color: white;
    text-decoration: none;
    position: relative;
    padding: 0 5px;
}
.num{
    font-weight: bold;
    margin-right: 10px;
}
.navpro::after{
    content: "";
    position: absolute;
    width: 0;
    height: 3px;
    left: 0;
    bottom: -18.5px;
    background-color: white;
    transition: .4s ease-out;
}
.navpro:hover::after{
    width: 100%;
}
.p1{
    font-size: 28px; color: #D0D6F9; letter-spacing: 3px;
}
.p2{
    font-size: 150px; font-family: 'Bellefair', serif     ; color: white;
}
.p3{
    width: 444px; height: 118px; font-size: 18px; font-family: 'Barlow', sans-serif; line-height: 1.75; color: #D0D6F9;
}
article{
    margin: 90px 139px; display: flex; align-items: center;
}
.right :hover{
    animation: pulse 1.5s infinite;
    border-radius: 50%;

}
@keyframes pulse {
    from {
        box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.295);
    }
    to {
        box-shadow: 0 0 0 150px rgba(241 , 239, 0, 0);
    }
}