/*@media only screen and (max-width: 1575px){
    .thething{
        width: 105vh;
    }
}*/
/*@media only screen and (min-width:  2560px){
    .thething{
        width: 283vh;
    }
}
@media only screen and (min-width:  1440px){
    .thething{
        width: 80vh    ;
        margin-right: 20px;
    }
}
@media only screen and (max-width: 1024px){
    main{
        background-image: url(/Images/home/background-home-tablet.jpg);
        height: 100vh;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    .thething{
        width: 0vh;
    }
}
*/
@media only screen and (max-width: 1024px){
    .thething{
        display: none;
    }
    main{
        background-image: url(/Images/home/background-home-tablet.jpg);
        height: auto;
        width: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }
    nav{
        padding: 50px 0px 0px 50px;
    }
    .lists{
        backdrop-filter: blur(57vh);
        padding: 20px 0 20px 50px;
    }
    .p1{
        font-size: 20px;
    }
    article{
        display: inline-block;
        text-align: center;
        
        /*  there it is */
    }
    .left{ 
        display: table;
    }
    .p3{
        text-align:center; 
  vertical-align: middle;
  display: table-cell;
    }
}